<mat-nav-list>
   <mat-divider></mat-divider> 
   <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>home</a>
   <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>dashboard</a>
   <a mat-list-item><mat-icon>edit</mat-icon>link1</a>
   <a mat-list-item><mat-icon>edit</mat-icon>link2</a>
   <a mat-list-item><mat-icon>edit</mat-icon>link3</a>
   <a mat-list-item><mat-icon>edit</mat-icon>link4</a>
   <a mat-list-item><mat-icon>edit</mat-icon>link5</a>
</mat-nav-list>
