<mat-nav-list>
   <mat-divider></mat-divider> 
   <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>home</a>
   <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>dashboard</a>
   <a mat-list-item><mat-icon>edit</mat-icon>Link1</a>
   <a mat-list-item><mat-icon>edit</mat-icon>Link2</a>
   <a mat-list-item><mat-icon>edit</mat-icon>Link3</a>
   <a mat-list-item><mat-icon>edit</mat-icon>Link4</a>
   <a mat-list-item><mat-icon>edit</mat-icon>Link5</a>
</mat-nav-list>
